<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>Ideabox</h1>
    <p>Ideabox is a place for your ideas. Add an idea with the button and it will be displayed.
        Ideas a from a database and will be displayed on the page. You can add as many ideas as you want.
        The ideas will be displayed at random positions on the page. The background color will change every 5 seconds.
        The text area will resize to fit the text.
        Have Fun!
    </p>
  </body>
</html>